.header-color{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.landing-grid{
  background: linear-gradient(217deg, #121514, #192b68, #5b6065, #000102);
  background-size: 800% 800%;
  
  -webkit-animation: landing-grid 22s ease infinite;
  animation: landing-grid 22s ease infinite;

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes landing-grid {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@keyframes landing-grid{ 
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}

.avatar-img{
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color:white;

}


@media only screen and (max-width: 900px) {
 
  .banner-text h1{
    font-size: 50px;
    font-weight: bold;
    color:white;
  
  }
  
 
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto;
}


@media only screen and (max-width: 900px) {
  .social-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  
 
}


.social-links i{
color:white;
font-size: 5em;
padding:8px;
}

.projects-grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 900px) {

  .projects-grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline;
  
  }
}



.contact-body{
  margin: auto;
  position: fixed;
  width: 100%;
  height:100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 550px;
  display: flex;
  background: white;
  color: black;
  margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {

  .contact-grid{
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 100%;
    display: flex;
    background: white;
    color: black;
    margin-bottom: 20px;
  }

}


.contact-grid h2{
  font-family: 'Lexend Deca', sans-serif;

}

.contact-grid p{
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5;
  font-size: 25px;
}

.contact-grid hr{
  border-top: 5px solid black;
  opacity: 0.5;
  width: 50%;
  margin: auto;
}



.contact-list i{
  
  font-size: 55px;
  padding-left: 95px;
  padding-right: 2rem;

}





 /*resume page*/

 .resume-right-col{
  background: #27221F;
  color:white;
  padding: 2em;
 }

 .contact-right-col{
  background: white;
  color: #27221F;
  padding: 2em;
 }

 /*about me */

 .about-me h1{
   font-family: 'Asap', sans-serif;
   font-size: 50px;
    
 }

 .about-me h2{
  font-family: 'Asap', sans-serif;
   font-size: 20px;
}

 .about-grid{
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.logos{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

@media only screen and (max-width: 900px) {
 
  .logos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
  padding-right: 50px;
  }
}


@media only screen and (max-width: 900px) {
  .about-grid{
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 100%;
    background: white;
    color: black;
    margin-bottom: 20px;
  }

  
 
}

.pic2{
 display: visible; 
}

@media only screen and (max-width: 900px) {
 
  .pic2{
    display: none; 
   }
 
}

.contact-right-col h2{
display: visible;
}

@media only screen and (max-width: 900px) {
 
  .contact-right-col {
    display: visible;
    padding-left: 0px;
  }
}
